%main-header.main-header
  .header_inner
    .header_inner_top
      %h1.logo
        
        = image_tag "fmarket_logo_red.svg"

      .header_form
        
        %input.header_form__textfield{name: "keyword", placeholder: "何かお探しですか？", type: "text", value: ""}
        %button.search-icon
          %i.fas.fa-search.loupe-icon
    .header_bottom-crearfix
      .left-contents
        .left-contents_search-nav
          %li.category_nav
            
            .category_text
              カテゴリーから探す
            .category_icon
              %i.fas.fa-list-ul.border-icon
          %li.brand_nav
            
            .brand_text
              ブランドから探す
            .brand_icon
              %i.fas.fa-tag.label-icon
      .right-contents
        .right-contents_user-nav
          %li.right-header_log-in
            = link_to '新規会員登録'
          %li.right-header_sign-up
            = link_to 'ログイン'