.signup-fifth
  = render 'shared/sign-up-header5'
  %section.fifth-main
    .fifth-main__title 会員登録完了
    .fifth-main__top
      .fifth-main__inner
        %span.fifth-main__inner--text ありがとうございます。
        %br 会員登録が完了しました。
        = link_to 'メルカリをはじめる', root_path, class: 'fifth-main__inner--btn'
    = image_tag 'sign-up-fifth-image.png', class: 'fifth-main__image'
  = render 'shared/user-footer'