//会員登録時のヘッダー

.signup-header{// ページ上部ロゴマーク
  height: 128px;
  display: flex;
  justify-content: center;
  &__log{//ロゴマークの位置指定
    width: 193px;
    line-height: 49px;
    margin-right: 4px;
    &--link{//ロゴマーク位置微調整
      margin-top: 41px;
      margin-right: 8px;
    }
    &:hover{
      opacity: 0.8;
    }
  }
}