//電話番号認証ページ

.signup-second-check{//電話番号認証ページ全体
  width: 100vw;
  padding-bottom: 220px;
  background-color: $thin_gray;
  position: relative;
}
.second-check-wrapper-top{//電話番号認証番号入力欄まで
  width: 700px;
  height: 369px;
  background-color: $white;
  margin: 0 auto;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  color: rgb(51, 51, 51);
  &__title{//電話番号認証の文字
    text-align: center;
    padding: 8px 24px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    border-bottom: solid 1px rgb(245, 245, 245);
  }
  &__box{//電話番号認証フォーム全体
    width: 700px;
    height: 319px;
    padding: 64px;
    border-top: solid 1px rgb(245, 245, 245);
    &--inner{//電話番号認証フォーム枠
      width: 320px;
      height: 191px;
      margin: 0 auto;
    }
  }
  &__form{//認証番号入力フォーム
    width: 320px;
    font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    color: rgb(51, 51, 51);
    &--label{//認証番号入力フォームラベル
      @include form-label();
    }
    &--input{//認証番号入力フォームインプット
      @include form-default();
    }
    &--info{//認証番号入力フォーム説明
      @include single-text();
    }
    &--btn{//認証番号入力フォーム完了ボタン
      @include btn-default();
      margin-top: 40px;
    }
  }
}

.second-check-wrapper-middle{//電話で認証番号を聞くまで
  width: 700px;
  height: 260px;
  background-color: $white;
  margin: 0 auto;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  color: rgb(51, 51, 51);
  &__box{//電話で認証番号を聞くフォーム全体
    width: 700px;
    height: 260px;
    padding: 64px 64px 60px;
    border-top: solid 1px rgb(245, 245, 245);
    &--inner{//電話で認証番号を聞くフォーム枠
      width: 320px;
      height: 136px;
      margin: 0 auto;
    }
  }
  &__form{//電話で認証番号を聞くフォーム
    width: 320px;
    font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    color: rgb(51, 51, 51);
    &--label-large{//電話で認証番号を聞くフォームラベル
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;
      vertical-align: top;
      display: inline-block;
      margin-bottom: 5px;
    }
    &--info{//電話で認証番号を聞くフォーム説明
      @include single-text();
      display: block;
      margin-top: 2px;
      font-size: 14px;
      line-height: 21px;
    }
    &--btn{//電話で認証番号を聞くフォームボタン
      @include btn-default();
      margin-top: 40px;
    }
  }
}

.second-check-wrapper-bottom{//認証番号再送
  width: 700px;
  height: 243px;
  background-color: $white;
  margin: 0 auto;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  color: rgb(51, 51, 51);
  &__box{//認証番号再送全体
    width: 700px;
    height: 243px;
    padding: 68px 64px 60px;
    border-top: solid 1px rgb(245, 245, 245);
    &--inner{//認証番号再送枠
      width: 320px;
      height: 130px;
      margin: 0 auto;
    }
    &--caution{//認証番号再送注意書き
      @include single-text();
      display: block;
      margin-top: 8px;
      font-size: 14px;
      line-height: 21px;
    }
  }
  &__form{//認証番号再送フォーム
    width: 320px;
    font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    color: rgb(51, 51, 51);
    &--label-large{//認証番号再送フォームラベル
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;
      vertical-align: top;
      display: inline-block;
      margin-bottom: 8px;
    }
    &--repeat{//電話番号再度入力リンク
      @include link-default();
    }
    &--caution{//SMSが届かない場合の注意書き
      @include single-text();
      display: block;
      margin-top: 8px;
      font-size: 14px;
      line-height: 21px;
    }
    &--setting{//受信設定リンク
      @include link-default();
      margin-left: -2px;
    }
  }
}