// Place all the styles related to the address controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.background{
  background-color:#f5f5f5;
  .mypage-box{
    margin:0 auto;
    width: 1120px;
    height: 1340px;
    background-color:#f5f5f5;
    .right-contents {
      margin-top: 40px;
      height: 1255px;
      width: 700px;
      background-color: $white;
      float: right;
      .contents-header {
        height: 33px;
        width: 652px;
        padding: 8px 24px;
        text-align: center;
        font-weight: 600;
        font-size: 24px;
        border-bottom: solid 1px rgb(245, 245, 245);
      }
      .contents-inner {
        width: 572px;
        height: 1029px;
        padding: 40px;
        margin: 0 auto;
        .contens-title {
          height: 71px;
          width: 572px;
          .contens-sentence {
            margin: 8px 0 0;
            line-height: 1.5;
            font-size: 14px;
          }
          .contens-link {
            color: $blue;
            text-decoration: none;
            line-height: 1.5;
            font-size: 14px;
            text-align: right;
            
          }
        }
      }
    }
  }
  label {
  font-size: 14px;
  font-weight: 600;
  }
  .form-area {
  height: 60px;
  width: 572px;
  margin: 40px 0 0;
  }
  .form-area-name{
  margin: 50px 0 0;
  }
  .input-default {
  height: 50px;
  width: 538px;
  margin: 8px 0 0;
  padding: 10px 16px 8px;
  }
  .btn-update {
  margin: 50px 0 0;
  display: block;
  width: 572px;
  line-height: 48px;
  font-size: 14px;
  text-align: center;
  }
  .btn-red {
  height: 50px;
  width: 572px;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  }
  .text-bottom {
  height: 21px;
  width: 572px;
  margin: 40px 0 0;
  text-align: right;
  font-size: 14px;
  }
  #profile_living_state.select-place {
  appearance: none;
  display: inline-block;
  height: 48px;
  width: 100%;
  position: relative;
  font-size: 16px;
  padding: 0 0px 0 7px;
  border-radius: 4px;
  border-color: rgb(206, 206, 206);
  background-color: white;
  }

  .delete-deco{
  display: block;
  text-align: right;
  text-decoration: none;
  color: $blue;
  }

  .form_box{
    color: $white;
    background-color: grey;
    font-size: 15px;
  }
  .select-place{
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    height: 48px;
    width: 540px;
    position: relative;
    font-size: 16px;
    padding: 0 0px 0 7px;
    border-radius: 4px;
    border-color: rgb(206, 206, 206);
    background-color: white;
  }
}
