.wrapper {
  background-color: #f5f5f5;
  .main-header{
    &__box{
      display: flex;
      justify-content: center;
      background-color: $gray;
      &__image{
        height: 100px;
        width: 100px;
      }
    }
  }
  .finish-page {
    height: 700px;
    width: 100vw;
    margin: 0 auto;
    background-color: $gray;
    .main-box{
      background-color: $white;
      height: 450px;
      margin: 30px 300px;
      text-align: center;
      // border-style: solid; border-width: thin;
      .box-top{
        height: 150px;
        line-height: 150px;
        border-bottom-style: solid; border-width: thin;
        border-bottom-color: $gray;
        h1{
          font-size: 25px;
          font-weight: bold;
        }
      }
      .box-midle{
        height: 100px;;
        padding-top: 35px;
      }
      .box-btn{
        height: 70px;
        margin: 10px 250px;
        background-color: $red;
        .finish-home-btn{
          line-height: 4;
          color: $white;
          text-decoration: none;
        }
      }
    }
   }
  }
