.mypage-box {
  width: 100vw;
  height: 100vh;
  background-color: #cec9c9;
}

.my-containercleanfix {
  // width: 1020px;
  padding-top: 45px;
  height: 100vh;
  margin: 0 200px;
  
}

.logout{

  // margin-right: 100px;
  float: right;
  width: 700px;
  height: 180px;
  background-color:white;


.logout_form{
  padding: 64px;
  border-top: 1px solid #ffffff;
  }

  .logout_form_ditail{
    max-width: 320px;
    margin: 0 auto;
  }

  .logout_btn{
    width: 100%;
    background-color:#ea352d;
    color: #ffffff;
    font-size: 14px;
    line-height: 50px;
    border: 1px, solid #ea352d;
    text-align: center;
    border-radius: 3px;
    border-width: 1px;
    text-decoration: none;
    // border-image: initial;
    display: block;
  }
}