@mixin form-require(){
  background-color: rgb(234, 53, 45);
  border-radius: 2px;
  color: $white;
  font-size: 12px;
  vertical-align: top;
  margin-left: 8px;
  padding: 2px 4px;
  line-height: 12px;
}